/* 
---- 01 TYPOGRAPHY SYSTEM


FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


Font weight:
default: 400
    medium 500
    semi-bold 600
    bold 700
    
Line height:
default: 1
1.5




----02 colors:
    primary: #e67e22
    tints: #fdf2e9 #fae5d3 #fee440
    shades:#cf711f
    accents:
    greys: #555
            #333
            #6f6f6f

----- 03 shadows
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);

----- 04 border-radius
        9px
        12px
-----05 whitespace
 SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ********************** */
/* GENERAL AND REUSABLE */
/* ********************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;
  color: #555;
}

.heading-primary,
.heading-secondary,
.heading-third {
  font-weight: 700;
  color: #333;
  line-height: 1.1;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.heading-third {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.subheading {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.6rem;
}

.center-text {
  text-align: center;
}

.margin-right-small {
  margin-right: 1.6rem !important;
}

.margin-bottom-medium {
  margin-bottom: 3.8rem !important;
}

.button:link,
.button:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 500ms;
}

.button--full:link,
.button--full:visited {
  background-color: #e67e22;
  color: #f7f7f7;
}

.button--full:hover,
.button--full:active {
  background-color: #cf711f;
}

.button--outline:link,
.button--outline:visited {
  color: #555;
  background-color: #fff;
}

.button--outline:hover,
.button--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--center {
  align-items: center;
}

.centered-container {
  max-width: 120rem;
  margin: 0 auto;
}

.flex-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

strong {
  font-weight: 600;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.list ion-icon {
  color: #e67e22;
  width: 24px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
