/* ********************** */
/* HEADER */
/* ********************** */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  margin: 0 auto;
  background-color: #fdf2e9;
}

.logo {
  height: 2.4rem;
}

.main-navigation-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.main-navigation-link:link,
.main-navigation-link:visited {
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  transition: all 500ms;
}

.main-navigation-link:hover,
.main-navigation-link:active {
  color: #cf711f;
}

.main-navigation-link.main-navigation-link-cta:link,
.main-navigation-link.main-navigation-link-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: #fff;
  border-radius: 10px;
}

.main-navigation-link.main-navigation-link-cta:hover,
.main-navigation-link.main-navigation-link-cta:active {
  background-color: #cf711f;
}
/* ********************** */
/* HERO */
/* ********************** */

.section-hero {
  background-color: #fdf2e9;
  padding-top: 4.8rem;
  padding-bottom: 9.6rem;
}

.hero {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 6.4rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 8rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1rem;
  border: solid 3px #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.delivered-text span {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.hero-image {
  width: 100%;
}

.margin-right-small {
  margin-right: 1.6rem !important;
}

/* ********************** */
/* SECTION HOW */
/* ********************** */

.section-how {
  background-color: #fdf2e9;
}

.step-number {
  color: #ccc;
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-image {
  width: 50%;
}
